body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
	height: 100vh;
	background-color: #111;
}

.home__menu {
	float: left;
	width: 15%;
	height: 100vh;
	background-color: #000;
  	position: relative;
	position: fixed;
}

.home__main-container {
	float: right;
	width: 85%;
	background-color: #111;	
}

.clr {
	clear: both;
}

.spotify-logo {
	width: 80%;
	margin-top: 15%;
	margin-left: 8%;
}

.menu-link--inner {
	text-decoration: none;
	color: #777777;
	font-weight: bold;
	font-size: 16px;
}

.menu-link--inner:hover {
	color: white;
	transition: color .2s;
}

.menu-link {
	margin-bottom: 5px;
}

.menu-links {
	margin-top: 60px;
}

.home__user {
	position: absolute;
	bottom: 8%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

li {
	list-style: none;
}

.album-art {
	height: 245px;
	width: 245px;
	position: relative;
	top: 0;
}

.blur-album-art {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color .2s;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

.artist-block {
	display: inline-block;
	padding: 10px;
	height: 300px;
}

.artist-name {
	text-align: center;
	margin-top: 7px;
	max-width: 250px;
	height: 50px;
	text-overflow: ellipsis;
}

.artist-name--link {
	color: white;
	font-weight: bold;
}

.artist-name--link:hover, .artist-name--link:active {
	color: white;
}

.home__top-artists {
	margin-top: 2%;
	color: white;
	font-weight: 700;
}

.user-info {
	font-size: 15px;
}

.img-color--hover {
	background-color: rgba(50, 50, 50, 0.9);
}

.search-titles {
	color: white;
	font-weight: 700;
	margin-top: 2%;
}

/* SingleArtist */
.artist__albums {

}

.artist__info {
	position: relative;
	height: 1200px;
}

.artist__cover-img {
	width: 100%;
	position: absolute;
	clip: rect(100px, 1200px, 550px, 0);
	top: -8%;
}

.artist__detailed-info {
	position: absolute;
	top: 20%;
	left: 5%;
}

.colored-layer {
	height: 550px;
	width: 100%;
	position: absolute;
	clip: rect(100px, 1200px, 550px, 0);
	top: -8%;
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
}

.artist__name {
	color: white;
	margin-bottom: 20px;
}

.spotify-button {
	margin-right: 15px;
	background-color: #2ebd59;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
}

.spotify-button:hover {
	background-color: #2e9d59;
	color: #fff;
}

.spotify--play-all-button {
	background-color: #222;
	border: 1px solid white;
}

.spotify--play-all-button:hover {
	background-color: #000;
	color: #fff;
}

.artist__top-tracks-title {
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 35px;
}

.artist__top-tracks {
	color: white;
	font-weight: 700;
	width: 100%;
	position: absolute;
	top: 40%;
}

.single-track-container {
	padding: 10px 0;
	margin-left: 35px;
}

.single-track-container:hover {
	background-color: #000;
}

.single-track-link {
	color: white;
}

.single-track-link:hover {
	color: white;
}

.track-number {
	padding-left: 20px;
	color: #555;
	font-weight: bold;
}

.track-duration {
	color: #555;
	font-weight: bold;
}

.related-albums--title {
	margin-left: 35px;
}

.album__main--container {
	min-height: 100vh;
	padding: 30px;
}

/*.album-info-img {
	margin-top: 30%;
}*/

/*.album-tracks-list {
	margin-top: 10%;
}*/

.album-info--title {
	color: white;
	text-align: center;
	margin-top: 10px; 
}

.album-info--artist {
	color: #555;
	text-align: center;
	margin-top: 10px; 
}

.artist--button {
	text-align: center;
	margin-top: 25px;
	margin-left: 15px; 
}

.album-tracks-count {
	color: #fff;
	text-align: center;
}

.artist-followers {
	color: #fff;
	font-weight: 100;
}

.active--link {
	color: white;
}

.spotify-input-container input {
	width: 25%;
	border-radius: 30px;
}


/* player */
.player {
	position: fixed;
	background-color: #222;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
}

.control-board {
	text-align: center;
	padding: 10px;
}

.player-current-info {
	position: absolute;
	left: 25px;
/*	top: 10px;
*/}

.single-control {
	padding: 0 10px;
	color: #fff;
	font-size: 25px;
	line-height: 1;
}
.player-album {
	float: left;
	padding-right: 20px;
	color: #fff;
}

.player-desc {
	float: right;
	color: #fff;
}

.track-name-player {
	font-weight: 500;
/*	margin-top: 5px;
*/}

.progress-bar {
	height: 5px;
	width: 50%;
	background-color: #666;
	margin: 0 auto;
}

.progress-bar-dynamic {
	height: 100%;
	width: 0;
	background-color: #2e9d59;
}

.player-start-progress {
	color: #fff;
	float: left;
}

.player-end-progress {
	color: #fff;
	float: right;
}

.player-start-end {
	width: 52%;
	margin: 0 auto;
}